<div class="mx-auto max-w-5xl py-4">
  <header class="flex justify-between">
    <h1>
      Bora beber,
      <span class="text-orange-base">{{ getLoggedUser()?.name }}</span>
      ?
    </h1>
    <button
      (click)="logout()"
      class="flex items-center gap-2 rounded-lg border border-gray-500 bg-gray-200 px-3 py-2 transition hover:cursor-pointer hover:bg-gray-100"
    >
      <ng-icon hlm size="sm" name="lucideLogOut" />
      Sair
    </button>
  </header>
  <section id="schedule" class="my-4">
    <app-schedule-list />
  </section>
  <section id="breweries" class="my-4">
    <app-breweries />
  </section>
  <router-outlet />
</div>
